<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<bean id="rpcClient" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
			<property name="serviceInterface" value="com.vipshop.crawler.proxy.service.NewProxyRpc" />
			<property name="serviceUrl" value="http://127.0.0.1:8080/crawler-proxy/newProxyRpc" />
			<property name="httpInvokerRequestExecutor">
				<!-- use apache httpClient, not the SimpleHttpInvokerRequestExecutor(JDK HttpUrlConnection) -->
				<bean class="org.springframework.remoting.httpinvoker.HttpComponentsHttpInvokerRequestExecutor" />
			</property>
	</bean>

</beans>
